{
    "openapi": "3.0.4",
    "info": {
        "title": "Laravel Swagger",
        "description": "Laravel Swagger",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://eindwerk.ddev.site:8445/"
        }
    ],
    "paths": {
        "/api/users": {
            "get": {
                "tags": ["User"],
                "summary": "Users",
                "description": "Get all users",
                "operationId": "getUsers",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/User"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    }
                }
            }
        }
    }
}
